*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
    color:#f8fafc;
    font-family:Inter, Arial, Helvetica, sans-serif;
}

.container{
    text-align:center;
    background:#1e293b;
    border:1px solid #334155;
    padding:48px 64px;
    border-radius:14px;
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}

h1{
    margin-bottom:16px;
    color:#f8fafc;
    font-size:30px;
    font-weight:700;
}

p{
    color:#94a3b8;
    margin-bottom:32px;
    line-height:1.6;
    font-size:15px;
}

.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:12px 22px;
    background:#3b82f6;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:10px;
    font-size:14px;
    font-weight:600;
    transition:all .25s ease;
    width: 100%;
}

.btn:hover{
    background:#2563eb;
    transform:translateY(-2px);
    box-shadow:0 8px 18px rgba(0,0,0,.25);
}

.btn:active{
    transform:scale(.97);
}

.author{
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid #334155;
    text-align:left;
}

.author h3{
    margin-bottom:12px;
    font-size:15px;
    color:#f8fafc;
    font-weight:600;
}

.author p{
    margin:4px 0;
    color:#94a3b8;
    font-size:14px;
}

.author strong{
    display:inline-block;
    width:70px;
    color:#e2e8f0;
    font-weight:600;
}




/* ================= MOBILE ================= */

@media (max-width:768px){

    body{
        padding:20px;
        height:auto;
        min-height:100vh;
    }

    .container{
        width:100%;
        padding:30px 22px;
    }

    h1{
        font-size:28px;
    }

    p{
        font-size:15px;
    }

    .btn{
        width:100%;
        justify-content:center;
    }

    .author{
        text-align:left;
        font-size:14px;
    }

    .author p{
        margin:10px 0;
        word-break:break-word;
    }

    .author a{
        word-break:break-all;
    }

    h6{
        margin-top:30px;
        font-size:12px;
        color:#94a3b8;
    }
}