<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
</head>
<body>

<div class="container">

    <h1>Edit Job</h1>

    <form th:action="@{/job/edit}" th:object="${job}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label>Title</label>
            <input type="text" th:field="*{title}" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea th:field="*{description}" rows="4"></textarea>
        </div>

        <div class="form-row">

            <div class="form-group">
                <label>Start Date</label>
                <input type="date"
                       name="startDate"
                       th:value="${#temporals.format(job.startDate, 'yyyy-MM-dd')}" required>
            </div>

            <div class="form-group">
                <label>End Date</label>
                <input type="date"
                       name="endDate"
                       th:value="${#temporals.format(job.endDate, 'yyyy-MM-dd')}" required>
            </div>

        </div>

        <div class="form-group checkbox">
            <label>
                <input type="checkbox" th:field="*{status}">
                Completed
            </label>
        </div>

        <div class="button-group">

            <a th:href="@{/job}" class="btn btn-secondary">
                Cancel
            </a>

            <button type="submit" class="btn btn-primary">
                Save Changes
            </button>

        </div>
    </form>
    <div style="text-align: center; margin-top: 20px">
        <div th:if="${msg}" style="color: #cc4c4c; padding: 10px; background-color: rgba(162,17,17,0.25);border:1px; border-radius: 10px">
            <span th:text="${msg}"></span>
        </div>
        <div th:unless="${msg}">
            <span th:text="${msg}"></span>
        </div>
    </div>
</div>

</body>
</html>